.RadToolBar_Inox,
.RadToolBar_Inox .rtbWrap,
.RadToolBarDropDown_Inox,
.RadToolBarDropDown_Inox .rtbWrap
{
	font: 11px/24px Arial,sans-serif;
	color: #171717;
}

.RadToolBar_Inox,
.RadToolBar_Inox .rtbOuter
{
	height: 28px;
	background: transparent url('ToolBar/ToolbarBgH.gif') no-repeat 0 0;
}

.RadToolBar_Inox .rtbOuter
{
	margin-left: 13px;
	padding: 2px 13px 2px 0;
	background-position: 100% 0;
}

.RadToolBar_Inox .rtbWrap
{
	height: 24px;
}

.RadToolBar_Inox .rtbOut
{
	margin-left: 5px;
}

.RadToolBar_Inox_rtl .rtbOut
{
	margin-left: 0;
	margin-right: 5px;
}

.RadToolBar_Inox .rtbIn
{
	padding: 0 5px 0 0;
	overflow: hidden;
}

.RadToolBar_Inox_rtl .rtbIn
{
	padding: 0 0 0 5px;
}

.RadToolBar_Inox .rtbItemHovered .rtbWrap,
.RadToolBar_Inox .rtbItemHovered .rtbOut
{
	background: transparent url('ToolBar/ToolbarItemHover.gif') no-repeat 0 0;
}

.RadToolBar_Inox .rtbChecked .rtbWrap,
.RadToolBar_Inox .rtbChecked .rtbOut,
.RadToolBar_Inox .rtbDropDownExpanded .rtbWrap,
.RadToolBar_Inox .rtbDropDownExpanded .rtbOut,
.RadToolBar_Inox .rtbItemClicked .rtbWrap,
.RadToolBar_Inox .rtbItemClicked .rtbOut
{
	background: transparent url('ToolBar/ToolbarItemActive.gif') no-repeat 0 0;
}

.RadToolBar_Inox_rtl .rtbItemHovered .rtbWrap,
.RadToolBar_Inox_rtl .rtbItemHovered .rtbOut,
.RadToolBar_Inox_rtl .rtbChecked .rtbWrap,
.RadToolBar_Inox_rtl .rtbChecked .rtbOut,
.RadToolBar_Inox_rtl .rtbDropDownExpanded .rtbWrap,
.RadToolBar_Inox_rtl .rtbDropDownExpanded .rtbOut,
.RadToolBar_Inox_rtl .rtbItemClicked .rtbWrap,
.RadToolBar_Inox_rtl .rtbItemClicked .rtbOut
{
	background-position: 100% 0;
}

.RadToolBar_Inox .rtbSplBtnHovered .rtbWrap,
.RadToolBar_Inox .rtbSplBtnHovered .rtbOut
{
	background: transparent url('ToolBar/ToolbarSplButHover.gif') no-repeat 0 0;
}

.RadToolBar_Inox .rtbSplBtnClicked .rtbWrap,
.RadToolBar_Inox .rtbSplBtnClicked .rtbOut,
.RadToolBar_Inox .rtbSplBtnExpanded .rtbWrap,
.RadToolBar_Inox .rtbSplBtnExpanded .rtbOut
{
	background: transparent url('ToolBar/ToolbarSplButActive.gif') no-repeat 0 0;
}

.RadToolBar_Inox_rtl .rtbSplBtnHovered .rtbWrap,
.RadToolBar_Inox_rtl .rtbSplBtnHovered .rtbOut
{
	background: transparent url('ToolBar/ToolbarSplButHover_rtl.gif') no-repeat 100% 0;
}

.RadToolBar_Inox_rtl .rtbSplBtnClicked .rtbWrap,
.RadToolBar_Inox_rtl .rtbSplBtnClicked .rtbOut,
.RadToolBar_Inox_rtl .rtbSplBtnExpanded .rtbWrap,
.RadToolBar_Inox_rtl .rtbSplBtnExpanded .rtbOut
{
	background: transparent url('ToolBar/ToolbarSplButActive_rtl.gif') no-repeat 100% 0;
}

.RadToolBar_Inox_rtl .rtbUL .rtbItem .rtbOut
{
	background-position: 0 0;
}

.RadToolBar_Inox .rtbChoiceArrow,
.RadToolBar_Inox .rtbWrap:hover .rtbChoiceArrow
{
	width: 5px;
	height: 24px;
	margin-left:5px;
	
	background: url('ToolBar/ToolbarSplitButtonArrow.gif') no-repeat 0 center;
}

.RadToolBar_Inox_rtl .rtbChoiceArrow,
.RadToolBar_Inox_rtl .rtbWrap:hover .rtbChoiceArrow
{
	margin-right:5px;
	margin-left:0;
}

.RadToolBar_Inox .rtbItem .rtbOut
{
	background-position: 100% 0;
}

.RadToolBar_Inox .rtbUL .rtbSeparator
{
	display: none;
}

.RadToolBarDropDown_Inox
{
	border: 1px solid #787878;
	background: transparent url('Common/inoxBg.jpg') repeat 0 0;
}

.RadToolBarDropDown_Inox .rtbWrap
{
	line-height: 22px;
	padding: 1px 10px;
}

.RadToolBarDropDown_Inox .rtbWrap:hover
{
	padding-top: 0;
	padding-bottom: 0;
	background: transparent url('Common/inoxOver.jpg') repeat 0 0;
	border: solid #878aab;
	border-width: 1px 0;
}

.RadToolBar_Inox .rtbDisabled .rtbWrap,
.RadToolBarDropDown_Inox .rtbDisabled .rtbWrap,
.RadToolBarDropDown_Inox .rtbDisabled .rtbWrap:hover
{
	color: #999;
	cursor: default;
	background: none;
	border: 0;
}

.RadToolBar_Inox .rtbDisabled .rtbWrap .rtbOut
{
	background: none;
}

.RadToolBarDropDown_Inox .rtbDisabled .rtbWrap,
.RadToolBarDropDown_Inox .rtbDisabled .rtbWrap:hover
{
	padding: 1px 10px;
}

.RadToolBar_Inox .rtbIcon
{
	margin: 4px 2px 4px 0;
	height: 16px;
}

.RadToolBar_Inox_rtl .rtbIcon
{
	margin: 4px 0 4px 2px;
}

.RadToolBar_Inox_Vertical
{
	display: none;
}